<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="div col-12 col-md-6 offset-md-3">
                <div class = 'card'> 
                    <div class="card-body">
                        <h2>Login</h2>
                        <hr>

                        <form action="" method="POST" >
                            {% csrf_token%}
                            {{ form.as_p }}

                            <button type="submit" class="btn btn-primary">Send</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</body>
</html>